
p{
      font-family: "Work Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
}

body{
    background-image: url(back.png);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-attachment: fixed;
    margin: 0;
}
header,footer{
    display: flex;
    background-color: lightgreen;
    align-items: center;
    padding: 15px 50px;
  font-weight: 400;
  font-style: normal;
}
header>*{
    display: inline-block;
    width: 450px
}
img{
    width: 70px;
    margin-right: 25px;
}
h1{
    margin: 0;
    text-align: center;
    font-family: "Work Sans", sans-serif;
}
main{
    margin:50px 20%;
    background-color: lightseagreen;
    border-radius: 20px;
    padding: 50px;
    min-height: calc(100vh - 92px - 80px - 100px);
}
article{
    background-color: mediumpurple;
    padding: 25px;
    border-radius: 20px;
    margin:20px;  
}
a{
    display: inline-block;
    color: white;
    background-color: rgb(121, 125, 127);
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 12xp;
    font-family: 'Lucida Sans';
}
iframe{
    width: 100%;
    height: 50vh;
}
.container{
    display: flex;
    justify-content: space-around;
}
.left{
    display: flex;
    flex: 2;
    background-color: purple;
    justify-content: space-around;
    flex-wrap: wrap;
}
.right{
    display: flex;
    flex: 1;
    background-color: purple;
    flex-direction: column;
}